# Node.js dependencies
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Output directories
output/
dist/

# Temporary files
.DS_Store
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
